<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Get coordinates of the mouse pointer</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 20px; bottom: 20px; width: 50%; }
</style>
</head>
<body>
<style type="text/css">
    #info {
        display: table;
        position: relative;
        margin: 0px auto;
        word-wrap: anywhere;
        white-space: pre-wrap;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #222;
        background: #fff;
    }
</style>
<div class="container">
    <div class="row">
        <div class ="col-7">
                <div id="map"></div>
        </div>
        <div class="col-5">
            <h1>Plot Location</h1>
            <ul>
                <div class="row">
                    <div class ="col-6">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                              <label for="Longitude" class="col-form-label">Longitude</label>
                            </div>
                            <div class="col-auto">
                              <input type="Longitude" id="long" class="form-control" aria-describedby="passwordHelpInline">
                            </div>
                          </div>
                    </div>
                    <div class ="col-6">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                              <label for="Latitude" class="col-form-label">Latitude</label>
                            </div>
                            <div class="col-auto">
                              <input type="Longitude" id="lat" class="form-control" aria-describedby="passwordHelpInline">
                            </div>
                          </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>

</div>

<pre id="info"></pre>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiaXNvdXJhdjciLCJhIjoiY2w1cnp1YW9sMWZpNjNjcGM0M3k4b2I0aiJ9.l3m47fOfsKpPjmww0HKfJw';
    const map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [85.8, 20.35], // starting position
        zoom: 15// starting zoom
    });

    map.on('mousemove', (e) => {
        document.getElementById('info').innerHTML =
            // `e.point` is the x, y coordinates of the `mousemove` event
            // relative to the top-left corner of the map.
           
            document.getElementById("lat").value =e.lngLat.lat;
            document.getElementById("long").value =e.lngLat.lng;
    }).save();


    const marker = new mapboxgl.Marker({
        draggable: true
        })
        .setLngLat([0, 0])
        .addTo(map);

    
function onDragEnd() {
const lngLat = marker.getLngLat();
coordinates.style.display = 'block';
coordinates.innerHTML = `Longitude: ${lngLat.lng}<br />Latitude: ${lngLat.lat}`;
}
 


</script>
<div>

</div>
</body>
</html>