<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"
        defer></script>
</head>

<style>
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wrapper{
        width: 50%;
        height: 30%;
    }
    /* input{
        max-width: 400px;
    }

    .form-wrapper{
        margin-top: 30px;
    } */
</style>

<body>
    <div class="wrapper">

        <div class="container my-3">
            <h2>Upload photos for your property</h2>
        </div>
        <div class="container my-2">
            <form action="" method="post">
                {% csrf_token %}
                <label class="form-label" for="customFile">Default file input example</label>
                <input type="file" class="form-control" id="customFile" name="images" multiple/>
                <div class="container my-3">

                    <button class="btn btn-outline-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>