<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Accept coordinates as input to a geocoder</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <style>
        #info {
            display: table;
            position: relative;
            margin: 0px auto;
            word-wrap: anywhere;
            white-space: pre-wrap;
            padding: 10px;
            border: none;
            border-radius: 3px;
            font-size: 12px;
            text-align: center;
            color: #222;
            background: #fff;
        }

        body {
            margin: 10;
            padding: 10;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50%;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    </style>
</head>

<body>
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
        type="text/css">

    <div class="row my-5 border p-30">

        <div class="col">
            <br>
            <div id="map">

            </div>
        </div>
        <div class="col">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="container form-container my-5 border p-3">
                    <div class="row">
                        <label for="property-title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="property-title" name="title">
                    </div>
                    <div class="row">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="5" cols="30"
                            name="description"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="length" class="form-label">Length</label>
                            <input type="number" class="form-control" id="length" name="length">
                        </div>
                        <div class="col-md-4">
                            <label for="breadth" class="form-label">Breadth</label>
                            <input type="number" class="form-control" id="breadth" name="breadth">
                        </div>
                        <div class="col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="price" name="price">
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="latitude" class="form-label">Latitude</label>
                                <input class="form-control" id="lati" name="latitude"
                                    aria-describedby="passwordHelpInline">
                            </div>
                            <div class="col-md-6">
                                <label for="longitude" class="form-label">Longitude</label>
                                <input class="form-control" id="long" name="longitude"
                                    aria-describedby="passwordHelpInline">
                            </div>
                        
                                <label class="form-label" for="customFile">Upload photo</label>
                                <input type="file" class="form-control" id="customFile" name="image" />
                        
                        </div>

                    </div>
                    <div class="container">
                        <br>
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiaXNvdXJhdjciLCJhIjoiY2w1cnp1YW9sMWZpNjNjcGM0M3k4b2I0aiJ9.l3m47fOfsKpPjmww0HKfJw';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [85.8, 20.35],
            zoom: 12
        });



        /* Given a query in the form "lng, lat" or "lat, lng"
        * returns the matching geographic coordinate(s)
        * as search results in carmen geojson format,
        * https://github.com/mapbox/carmen/blob/master/carmen-geojson.md */
        const coordinatesGeocoder = function (query) {
            // Match anything which looks like
            // decimal degrees coordinate pair.
            const matches = query.match(
                /^[ ]*(?:Lat: )?(-?\d+\.?\d*)[, ]+(?:Lng: )?(-?\d+\.?\d*)[ ]*$/i
            );
            if (!matches) {
                return null;
            }


            function coordinateFeature(lng, lat) {
                return {
                    center: [lng, lat],
                    geometry: {
                        type: 'Point',
                        coordinates: [lng, lat]
                    },
                    place_name: 'Lat: ' + lat + ' Lng: ' + lng,
                    place_type: ['coordinate'],
                    properties: {},
                    type: 'Feature'
                };
            }


            const coord1 = Number(matches[1]);
            const coord2 = Number(matches[2]);
            const geocodes = [];
            if (coord1 < -90 || coord1 > 90) {
                // must be lng, lat
                geocodes.push(coordinateFeature(coord1, coord2));
            }

            if (coord2 < -90 || coord2 > 90) {
                // must be lat, lng
                geocodes.push(coordinateFeature(coord2, coord1));
            }

            if (geocodes.length === 0) {
                // else could be either lng, lat or lat, lng
                geocodes.push(coordinateFeature(coord1, coord2));
                geocodes.push(coordinateFeature(coord2, coord1));
            }

            return geocodes;
        };

        // Add the control to the map.
        map.addControl(
            new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                localGeocoder: coordinatesGeocoder,
                zoom: 14,
                placeholder: 'Try: -40, 170',
                mapboxgl: mapboxgl,
                reverseGeocode: true
            })
        );

        map.on('click', (e) => {
            // `e.point` is the x, y coordinates of the `mousemove` event
            // relative to the top-left corner of the map.
            document.getElementById("long").value = e.lngLat.lng;
            document.getElementById("lati").value = e.lngLat.lat;


        }).save();

        const marker = new mapboxgl.Marker({
            draggable: true
        })
            .setLngLat([0, 0])
            .addTo(map);


        function onDragEnd() {
            const lngLat = marker.getLngLat();
            coordinates.style.display = 'block';
            coordinates.innerHTML = `Longitude: ${lngLat.lng}<br />Latitude: ${lngLat.lat}`;
        }

    </script>

</body>

</html>